<div class="header">
<header>
    <h1 class="header_title"><%= header_text %></h1>
</header>
<nav class="nav_menu">
    <a href="/">HOME</a>
    <a href="/primates">PRIMATES</a>
    <a href="/big-cats">BIG CATS</a>
    <a href="/marine-mammals">MARINE MAMMALS</a>
</nav>
</div>