:root{
    --padding_large : 16px;
    --padding_small : 8px;
    --margin_large : 16px;
    --margin_small : 8px;
    --font_color_light : #88f7d5;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    min-height: 100vh;
    width:100%;
}

.home{
    background-image:url("../images/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    object-fit: cover;
    z-index: -10;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    text-align: center;
    color: var(--font_color_light);
    flex-grow: 0;
}

.header_title{
    margin:0;
    padding: 16px;
    color: var(--font_color_light);
    background-color: #4b362c ;
}

.nav_menu{
    display: flex;
    justify-content: space-around;
    margin: 0;
    flex-grow: 0;
}

.nav_menu a {
    background-color: #4b362c ;
    color:var(--font_color_light);
    padding: var(--padding_large);
    margin: var(--margin_small);
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    cursor: pointer;
}

.nav_menu a:hover{
    transform: scale(1.25);
}

.content_wrapper{
    background-color: transparent ;
    opacity: 1;
    flex-grow: 1;
    padding: 8px;
    margin: 8px;
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, .3);
    /*backdrop-filter: blur(5px);*/
    display: flex;


}

.content_wrapper:after{
    background-color: rgba(195, 195, 195, .1);
    bottom: 10px;
    content: '';
    filter: blur(32px);
    left: 10px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: -1;
}

.sidebar_animal_names{
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    padding:var(--padding_small);
      max-width: 200px; 
}

.sidebar_animal_names a{
    color:  #88f7d5;
    font-size: large;
}


.section_title{
    color:var(--font_color_light);
    padding: var(--padding_large);
    margin:var(--margin_large);
    font-size: 1.5rem;
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, .3);
    text-align: center;
}

.section_title:after{
    background-color:  rgba(195, 195, 195, .1);
    bottom: 10px;
    content: '';
    filter: blur(32px);
    left: 10px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: -1;
}


.section_content{
    color: var(--font_color_light);
    padding: var(--padding_large);
    margin:var(--margin_large);
    font-size: 1.25rem;
}

.welcome_description
{
    flex: 1;
    min-width: 0;
}

.main_content_description{
      color:  #88f7d5;
}
.welcome_text{
    text-align: center;
    color: var(--font_color_light);
    background-color: #382922;
    margin: auto;
    padding: var(--padding_small);
    width: 100%;
}

.animal_image{
    height: auto;
    width: 200px;
}

.animal_grid{
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    gap:8px;
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, .3);
    max-height:max-content;
    max-width: fit-content;
    margin:auto;
}

.animal_grid:after{
    background-color:  rgba(195, 195, 195, .1);
    bottom: 10px;
    content: '';
    filter: blur(32px);
    left: 10px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: -1;
    max-height:max-content;
    max-width: fit-content;
}

.animal_name{
    background-color: #382922;
}

.grid_items{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.grid_items p{
    color:  #88f7d5;
    padding: 16px;
}

.zoo_description{
    padding: var(--padding_large);
    color:  #88f7d5;
}

.zoo-footer {
    background-color: #4b362c ;
    color:  #88f7d5;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  

  @media screen and (max-width: 850px){
    .animal_image{
    display: none;
    }

  }

   @media screen and (max-width: 500px){
            .nav_menu a {
            padding: var(--padding_small);
            font-size: 1rem;
            }

            .animal_grid{
                display: flex;
                flex-direction: column;
            }
   }